{%- if blog.data.blog_feature_image %}{% assign current_image = blog.data.blog_feature_image %}{% else %}{% assign current_image = site.placeholder_image %}{% endif %}

{%- comment %} ++++++ With a filter, determine dimensions of image so know if 'landscape', 'square' or 'portrait'. {% endcomment %}
{%- comment %} ++++++ 1.618 -> Golden Ratio {% endcomment %}

{%- assign image_x = current_image | prepend: "site" | image-width %}
{%- assign image_y = current_image | prepend: "site" | image-height %}
{%- assign thumb_ratio = image_x | append: "/" | append: image_y %}

{%- comment %} ++++++ Use square if the image is 'almost' square as well as if perfectly square. {% endcomment %}

{%- if image_x == image_y %}
    {%- assign aspect = "square" %}
    {%- assign thumb_width = "450" %}
{%- elsif image_x > image_y %}
    {%- assign rat = image_x | divided_by: image_y %}
    {%- if rat > 1.2 %}
        {%- assign aspect = "landscape" %}
        {%- assign thumb_width = "650" %}
    {%- else %}
        {%- assign aspect = "square" %}
        {%- assign thumb_width = "450" %}
    {%- endif %}
{%- else %}
    {%- assign rat = image_y | divided_by: image_x %}
    {%- if rat > 1.2 %}
        {%- assign aspect = "portrait" %}
        {%- assign thumb_width = "400" %}
    {%- else %}
        {%- assign aspect = "square" %}
        {%- assign thumb_width = "450" %}
    {%- endif %}
{%- endif %}

<div class="use-gsap">

    <article class="event-wrapper gsap-element-wrapper" data-gsap-animation-name="slide-up-from-bottom">
    
        <div class="columns">
            
            <div class="column">

                <div class="content gsap-element-wrapper print-full-width image-{{ aspect }}" data-gsap-animation-name="slide-down-from-top" data-gsap-delay="0.5">
                    
                    <div class="blog-post-thumb">
                    
                        <a href="{{ blog.url }}">
                            {%- assign post_title = blog.data.title %}
                            {% bookshop_include "resize-image-srcset" live_render: false rs_lazy: true rs_image: current_image rs_quality: "70" rs_title: post_title rs_multi_column_max_image_width: "50vw" rs_aspect_ratio: "auto" %}
                        </a>
                        
                    </div>
                        
                </div>
            
            </div>
            
            <div class="column" style="display: flex; flex-direction: column; justify-content: center;">
                                
                <div class="content gsap-element-wrapper print-full-width" data-gsap-animation-name="slide-up-from-bottom" data-gsap-delay="0.25">
                    
                    <div class="blog-post-details">
                    
                        <h3 class="blog-post-title">
                            {{ blog.data.title }}
                        </h3>
                    
                        <p style="font-size: 0.9rem;"><em>Posted: {{ blog.date | datePost }}</em></p>
                    
                        {%- if site.blog.show_tags == true %} 
                            <div class="blog-post-tags">
                            {%- for tag in blog.data.tags limit: 6 %}
                                {% if tag != "blog" %}<a href="/tags/{{ tag }}/" > {{ tag | replace: "-"," " | capitalize }} </a>{% endif %}
                            {%- endfor %}
                            </div>
                        {%- endif %}

                        <div class="blog-post-excerpt">
                            <p>{{ blog.data.excerpt | truncatewords: 40 }}</p>
                            <p><a href="{{ blog.url }}" class="button">Read More</a></p>
                        </div>
                    
                    </div>
                    
                </div>
                    
            </div>
        
        </div>
        
    </article>

</div>