<section class="section single-column-component use-gsap section-padding-top-{{ content_padding_top }} section-padding-bottom-{{ content_padding_bottom }} vb-theme-{{ component_palette }}" data-block-index="{{ block_index }}">
  
    <div class="first-of-type-section-spacer"></div>
  
    <div class="container">
      
        <div class="columns">
          
            <div class="column is-10-tablet is-8-desktop is-offset-1-tablet is-offset-2-desktop">
              
                <div class="content gsap-element-wrapper" data-gsap-animation-name="slide-up-from-bottom">
                
                    {{ main_column | markdownify }}
                
                </div>
              
            </div>
        
        </div>
    
    </div>
  
</section>